.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;

&__label {
    display: flex;
}

&__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    outline: auto;
    margin-right: 8px;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    border: 0.2px solid var(--primary-white-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

&__input:checked+&__icon {
    outline: transparent;
    background-color: var(--accent-color);
}

&__svg {
    fill: var(--text-color);
}

&__text {
    color: var(--primary-text-color);

@media screen and (min-width: 480px) and (max-width: 1199px) {
    line-height: 1.17;
    font-size: 12px;
}

@media screen and (min-width: 1200px) {
    line-height: 1.71;
    font-size: 14px;
}
}

&__link {
    color: var(--accent-color);
    text-decoration-line: underline;

}
}