.modal {
    width: 95%;
    height: 76%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;

@media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 450px;
    height: 96%;
    }

@media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 60%;
    min-height: 96%;
}

@media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
}

&__btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transform: translate(50%, -50%);
    border-radius: 50%;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width: 480px) {
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}
    }
    
&__btn:focus,
&__btn:hover {
    fill: var(--accent-color);
    }

}
