:root {
    --primary-white-color: #FFFFFF;
    --logo-color: #000000;
    --secondary-text-color: #212121;
    --text-color: #FFFFFF;
    --primary-text-color: #757575;
    --accent-color: #2196F3;
    --icon-text-color: #AFB1B8;
    --bg-icon-color: #E5E5E5;
    --bg-color: #F5F4FA;
}